<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a id="title" class="navbar-brand" href="#">Sage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="mainNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#home">Home</a>
                <a class="nav-item nav-link" href="#about">About</a>
                <form class="form-inline" method="get" action="/logout">
                    <div class="form-group ml-4">
                        <button class="btn btn-sm" id="logout-btn">Logout</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
