<% include partials/head.ejs %>
<% include partials/loginheader.ejs %>
    <main role="main">
        <section class="jumbotron mt-4" id="home">
            <div class="container text-center">
                <h1 class="display-4 ">Get more out of your customer's reviews.</h1>
                <div class="row">
                    <div class="col m-2">
                        <img class="img-fluid rounded-circle" src="images/breakfast-brunch-cell-phone-693269.jpg" alt="placeholder" />
                    </div>
                    <div class="col m-2">
                        <img class="img-fluid rounded-circle" src="images/adult-alcoholic-beverages-bar-1267696.jpg" alt="placeholder" />
                    </div>
                    <div class="col m-2">
                        <img class="img-fluid rounded-circle" src="images/business-charts-commerce-265087.jpg" alt="placeholder" />
                    </div>
                </div>
                <p class="lead text-center">
                    Sage helps you make better business decisions based on what people
                    are saying about your restaurant. We make it easier to gain real
                    insights from customer reviews so you can focus on improving
                    instead of reading.
                </p>
                <form method="get" action="/signup">
                    <button class="btn btn-lg btn-secondary">Sign Up</button>
                </form>
            </div>
        </section>
        <section class="mb-4" id="about">
            <div class="container">
                <h1>About Us</h1>
                <div class="row">
                    <div class="col">
                        <p>
                           The Sage team has been hard at work to bring restaurant owners the latest technology to better their business. We understand how busy it can get in the restaurant world and no business should suffer because of a lack of attention to online reviews. So we are here to provide you with the Sage review analyzer! 
                           </p>
                           <p>
                           The Sage review analyzer is a natural language processing sentiment analysis engine that generates analytics for our your restaurant's reviews. The engine  creates a summary of different review types as well as showing statistics about the type of language that people are using in their reviews. When you sign in to your dashboard, you will easily be able to identify how your restaurant is doing based on the reviews and you will be able to make appropriate business decisions from there. 
                        </p>
                    </div>
                    <div class="col">
                        <img class="img-fluid my-2" src="images/bracelets-camera-cellphone-744780.jpg" alt="placeholder" />
                        <img class="img-fluid my-2" src="images/architecture-cafe-chair-1024359.jpg" alt="placeholder" />
                    </div>
                </div>
            </div>
        </section>
    </main>
<% include partials/footer.ejs %>
