<!--<form action= "" method="post" class="contact">
	<fieldset>
		<legend>New Customer Information</legend> -->
	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/hwml4.loose.dtd">
	<html>
	<head>
	<title>Untitled Document</title>
	<meta http=equiv="Content-Type" content="text/html; charset=iso885-1">
	</head>
	
	<body>
		
		<div>
			<label for="firstname">First Name</label>
			<input type="text" name="firstname" id="firstname"/>
		</div>
		<div>
			<label for="lastname">Last Name</label>
			<input type="text" name="lastname" id="lastname"/>
		</div>
		<div>
			<!-- <label for="skill">Skill level</label>-->
			<p>What is your skill level?<p>
			<input type="radio" name="skill" id="Beginner" value="Beginner"/>
			<label for="Beginner">Beginner</label>
			</br>
			<input type="radio" name="skill" id="Intermediate" value="Intermediate"/>
			<label for="Intermediate">Intermediate</label>
			</br>
			<input type="radio" name="skill" id="Professional Chef" value="Professional Chef"/>
			<label for="Beginner">Professional Chef</label>
			</br>

		</div>
		<div>
			<label for="age">Age</label>
			<input type="text" name="age" id="age"/>
		</div>
		<div>
			<label for="email">Email Address</label>
			<input type="text" name="email" id="email"/>
		</div>
		</br>
		<div>
			<label for="username">** Username</label>
			<input type="text" name="username" id="username"/>
		</div>
		<div>
			<label for="password">** Password</label>
			<input type="text" name="password" id="password"/>
		</div>
		
	</body>
</html>
	
	<!--	
	</fieldset>
</form> -->