<div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <% if (restaurant.name) { %>
      <h1><%= restaurant.name %></h1>
    <% } else { %>
      <h1 style="color: red;">ERROR: Restaurant name not found!</h1>
    <% } %>
    <p>bar chart for analytics...animated?</p>
    <p>Pie chart with key</p>
    <p>Summary of analytics for X amount of days or for the month</p>
</div>
